{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 
    {% include 'SudJuvenilesBundle:Default:menu_intranet.html.twig' %}

    <div class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card">Panel de Administracion</h1>

        </div>
        
    </div>

    <section class="section-white">

        <div class="container">

            <div class="row" style="margin-bottom:60px; margin-top:30px;">

                <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">

                    <a href="{{url('panel-delegaciones')}}" class="container-menu-item card" style="text-decoration: none;">

                        <img src="{{asset('assets/images/icon_delegaciones.png')}}" class="img-fluid">

                    </a>

                </div>

                <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">

                    <a href="intranet-resultados.html" class="container-menu-item card" style="text-decoration: none;">

                        <img src="{{asset('assets/images/icon_resultados.png')}}" class="img-fluid">

                    </a>

                </div>

                <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">

                    <a href="intranet-galeria.html" class="container-menu-item card" style="text-decoration: none;">

                        <img src="{{asset('assets/images/icon_galeria.png')}}" class="img-fluid">

                    </a>

                </div>

                <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">

                    <a href="intranet-videos.html" class="container-menu-item card" style="text-decoration: none;">

                        <img src="{{asset('assets/images/icon_videos.png')}}" class="img-fluid">

                    </a>

                </div>

            </div>

        </div>


    </section>


    <footer class="footer">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-10 col-xs-8 col-sm-6 col-md-5 col-lg-3">

                    <img src="{{asset('assets/images/logoblanco.png')}}" class="img-fluid">

                </div>

            </div>

        </div>

    </footer>

{% endblock %}