{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}


    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 

    {% include 'SudJuvenilesBundle:Default:menu_intranet.html.twig' %}

    <div class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card">Resultados</h1>

        </div>

    </div>

    <section class="section-white">

        <div class="container">

            {% include 'SudJuvenilesBundle:Intranet:resultados-galeria.html.twig' %}

            <br>
            <br>

            <div class="text-right">

                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-nuevo-resultado">Publicar resultado</button>

            </div>

        </div>


    </section>

    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 




    <div class="modal fade" id="modal-nuevo-resultado" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">

                <form id="submit_form_guardar" action="#" enctype="multipart/form-data">

                    <div class="modal-header header-modal container-header-yellow">

                        <h4 class="modal-title">Publica un nuevo resultado</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                            <span aria-hidden="true" style="color:white;">&times;</span>

                        </button>

                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div id="alerta-error" class="alert alert-danger collapse text-center"></div>

                                <ul class="list-group">

                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong> Foto:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <div class="form-group">

                                                    <input type="file" class="form-control-file" name="fileResultado" id="fileResultado" required="true" accept="image/*">

                                                </div>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong> Titulo:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <input id="tituloResultado" class="form-control"  name="tituloResultado" type="text" required="true">

                                            </div>

                                        </div>

                                    </li>

                                    <li class="list-group-item">
                
                                        <div class="row">
                
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                
                                                <p><span style="color:#B31A12">*</span><strong> Fecha:</strong></p>
                
                                            </div>
                
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                
                                                <input class="form-control" type="date"  name="fechaResultado" id="fechaResultado" required="true">
                
                                            </div>
                
                                        </div>
                
                                    </li>

                                    <li class="list-group-item">
                
                                        <div class="row">
                
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                
                                                <p><span style="color:#B31A12">*</span><strong> Disciplina:</strong></p>
                
                                            </div>
                
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                
                                                <select class="form-control" id="disciplinaResultado" name="disciplinaResultado" required="true" required="true">
                
                                                    <option value="">--Seleccionar--</option>
                
                                                    {% for dis in disciplinas if dis.categoria_id == 2 %}
                
                                                        <option value="{{dis.id}}" >{{dis.nombre}}</option>
                
                                                    {% endfor %}

                                                </select>
                
                                            </div>
                
                                        </div>
                
                                    </li>

                                    <li class="list-group-item">
                
                                        <div class="row">
                
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                
                                                <p><span style="color:#B31A12">*</span><strong>Descripción:</strong></p>
                
                                            </div>
                
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                
                                                <textarea id="descripcionResultado" name="descripcionResultado" class="form-control" required="true"></textarea>
                
                                            </div>
                
                                        </div>
                
                                    </li>
                
                                </ul>

                                <br>

                                <span style="color:#B31A12; font-size:12px;">(*) Campos obligatorios.</span><br>
                
                                <span style="color:grey; font-size:12px;"> Los formatos válidos en las imágenes son: 'png', 'jpg' o 'jpeg'. Peso máximo de 5M. </span>
                
                
                            </div>
                
                        </div>
                
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                
                        <button id="btn_guardar" type="submit" class="btn btn-success">Publicar</button>

                    </div>

                </form>

            </div>

        </div>
    
    </div>


    <div class="modal fade" id="modal-editar-resultado" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">

                <form id="submit_form_editar" action="#" enctype="multipart/form-data">

                    <div class="modal-header header-modal container-header-yellow">

                        <h4 class="modal-title">Modificar Publicación</h4>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            
                            <span aria-hidden="true" style="color:white;">&times;</span>
                        
                        </button>
                    
                    </div>

                    <div class="modal-body">

                        <div class="row">

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                <div id="alerta-error" class="alert alert-danger collapse text-center"></div>

                                <ul class="list-group">
                                
                                    <li class="list-group-item">

                                        <div class="row">
                                
                                            <input type="hidden" name="editResultadoGaleriaId" id="editResultadoGaleriaId" >
                                
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong> Foto:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <div class="form-group">
                                
                                                    <input type="file" class="form-control-file" name="editFileResultado" id="editFileResultado" accept="image/*">
                                
                                                </div>

                                            </div>

                                        </div>
                                
                                    </li>

                                    <li class="list-group-item">
                                
                                        <div class="row">
                                
                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                
                                                <p><span style="color:#B31A12">*</span><strong> Titulo:</strong></p>
                                
                                            </div>
                                
                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">
                                
                                                <input id="editTituloResultado" class="form-control"  name="editTituloResultado" type="text" required="true">
                                
                                            </div>
                                
                                        </div>
                                
                                    </li>

                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong> Fecha:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <input class="form-control" type="date"  name="editFechaResultado" id="editFechaResultado" required="true">

                                            </div>

                                        </div>

                                    </li>

                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong> Disciplina:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <select class="form-control" id="editDisciplinaResultado" name="editDisciplinaResultado" required="true">

                                                    <option value="">--Seleccionar--</option>

                                                    {% for dis in disciplinas if dis.categoria_id == 2 %}

                                                        <option value="{{dis.id}}" >{{dis.nombre}}</option>

                                                    {% endfor %}

                                                </select>

                                            </div>

                                        </div>

                                    </li>

                                    <li class="list-group-item">

                                        <div class="row">

                                            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">

                                                <p><span style="color:#B31A12">*</span><strong>Descripción:</strong></p>

                                            </div>

                                            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8">

                                                <textarea id="editDescripcionResultado" name="editDescripcionResultado" class="form-control" required="true"></textarea>

                                            </div>

                                        </div>

                                    </li>

                                </ul>

                                <br>

                                <span style="color:#B31A12; font-size:12px;">(*) Campos obligatorios.</span><br>

                                <span style="color:grey; font-size:12px;"> Los formatos válidos en las imágenes son: 'png', 'jpg' o 'jpeg'. Peso máximo de 5M. </span>

                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        
                        <button id="btn_editar" type="submit" class="btn btn-success">Publicar</button>
                    
                    </div>

                </form>
            
            </div>

        </div>

    </div>

    <div class="modal fade" id="modal-eliminar-galeriaResultado" role="dialog" aria-hidden="true">
    
        <div class="modal-dialog modal-sm">
    
            <div class="modal-content">

                <div class="modal-header header-modal container-header-yellow">

                    <p class="modal-title"><strong>¿Desea eliminar este resultado?</strong></p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    
                        <span aria-hidden="true" style="color:white;">&times;</span>
                    
                    </button>

                </div>
    
                <div class="modal-body">
    
                    <div class="container">

                        <div class="row justify-content-md-center">

                            <div class="col-lg-5">

                                <br>

                                <img src="{{asset('assets/images/trash.png')}}" class="img-fluid">

                                <br>
                                <br>
                                <br>

                            </div>

                        </div>
    
                        <div class="row">
    
                            <div class="col">
    
                                <input type="hidden" name="elimGaleriaResultId" id="elimGaleriaResultId">
    
                                <button class="btn btn-default btn-block" data-dismiss="modal">Cancelar</button>
    
                            </div>
    
                            <div class="col">
    
                                <button class="btn btn-danger btn-block" id="btnConfElimResultado">Aceptar</button>
    
                            </div>
    
                        </div>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </div>

    <div class="modal fade" id="modal-image" role="dialog" aria-hidden="true">

        <div class="modal-dialog modal-lg">
    
            <div class="modal-content">

                <img id="img-modal" class="img-fluid">

            </div>
        
        </div>
    
    </div>

{% endblock %}

{% block javascripts %}

    <script>

        $('[data-toggle="tooltip"]').tooltip();

        $('#submit_form_guardar').on("submit", function (e) {
            
            e.preventDefault();

            var obj = new FormData($("#submit_form_guardar")[0]);
            
            $.ajax({
                url: "{{url('galeriaRegistrarResultado')}}",
                type: 'POST',
                data: obj,
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function() {
                },
                success: function(data) {

                    if(data == 1){
                        alertify.success('<p style="color:white">Se registro Correctamente.</p>');
                        setTimeout(function(){ location.reload(true) }, 1000);
                        
                    }else if(data == 0){
                        alertify.warning('<p style="color:black">Ocurrio un Error a la hora de Registrar.</p>')
                    }

                },
                error: function (error) {
                    alertify.error('Error Sistema');
                }
            });

        });

        $("#btnConfElimResultado").on('click',function(){

            $.ajax({
                url: "{{url('galeriaEliminarResultado')}}",
                type: 'POST',
                data:{'galeriaResultId':$("#elimGaleriaResultId").val()},
                beforeSend: function() {
                },
                success: function(data) {

                    if(data == 1){
                        alertify.success('<p style="color:white">Se elimino Correctamente.</p>');
                        setTimeout(function(){ location.reload(true) }, 1000);
                        
                    }else if(data == 0){
                        alertify.warning('<p style="color:black">Ocurrio un Error a la hora de Eliminar.</p>')
                    }

                },
                error: function (error) {
                    alertify.error('Error Sistema');
                }
            });

        });

        const galeriaResultEliminar = function(galeriaResultId){
            $("#elimGaleriaResultId").val(galeriaResultId);
        };

        //OBTENER INFORMACION GALERIA PARA MODIFICAR
        const obtenerInformaciongaleriaResultModificar = function(galeriaResultId){

            $("#editResultadoGaleriaId").val(galeriaResultId);

            $.ajax({
                url: "{{url('galeriaObtenerResultado')}}",
                type: 'POST',
                data:{'galeriaResultId':galeriaResultId},
                beforeSend: function() {
                },
                success: function(data) {
                    datos = JSON.parse(data)[0];
                    console.log(datos);

                    $("#editTituloResultado").val(datos.titulo);
                    $("#editFechaResultado").val(datos.fecha_tomo_foto);
                    $("#editDisciplinaResultado").val(datos.disciplinaId);
                    $("#editDescripcionResultado").val(datos.descripcion_foto);

                },
                error: function (error) {
                    alertify.error('Error Sistema');
                }
            });
        };

        $('#submit_form_editar').on("submit", function (e) {
            
            e.preventDefault();

            var obj = new FormData($("#submit_form_editar")[0]);
            
            $.ajax({
                url: "{{url('galeriaEditarResultado')}}",
                type: 'POST',
                data: obj,
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function() {
                },
                success: function(data) {

                    if(data == 1){
                        alertify.success('<p style="color:white">Se actualizo Correctamente.</p>');
                        setTimeout(function(){ location.reload(true) }, 1000);
                        
                    }else if(data == 0){
                        alertify.warning('<p style="color:black">Ocurrio un Error a la hora de actualizar.</p>')
                    }

                },
                error: function (error) {
                    alertify.error('Error Sistema');
                }
            });
        });

        function imageModal(img){

            $('#modal-image').modal('show');
            $('#img-modal').attr('src', img.src);
            
        }



        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        } 
        if(mm<10){
            mm='0'+mm
        } 

        today = yyyy+'-'+mm+'-'+dd;

        $("#fechaResultado").attr("max", today);
        $("#editFechaResultado").attr("max", today);

    </script>

{% endblock %}