<div class="count">

    <p>Videos en total <span class="badge badge-info">  {{ pagination.getTotalItemCount }}</span></p>

</div>

<br/>

<div class="row">
 
    {% for entry in pagination %}

        {% set  arrayFechaGrabo =  entry.video_url|split('=') %} 

        {% set  keyVideo =  arrayFechaGrabo[1] %}

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

            <div class="card" style="margin-bottom: 16px;">

                <div class="embed-responsive embed-responsive-16by9 container-escenario-item" style="margin-bottom:0px;">

                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{keyVideo}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>

                <div class="d-flex justify-content-between bg-light" style="padding:8px 8px 2px 8px;">

                    <p><small>{{entry.fecha_grabo_video}}</small></p>

                    <div>

                        <i class="fas fa-edit" style="color:#424242; cursor:pointer;" title="Editar" data-toggle="modal" data-target="#modal-editar-video" onclick="obtenerInformaciongaleriaVideoModificar({{entry['id']}})" ></i>&nbsp;&nbsp;&nbsp;

                        <i  class="fas fa-trash-alt" style="color:#424242; cursor:pointer;" title="Eliminar"  onclick="galeriaVideoEliminar({{entry['id']}})"  data-toggle="modal" data-target="#modal-eliminar-galeriaVideo"></i>

                    </div>

                </div>

            </div>

        </div>

    {% endfor %}

</div>

{# display navigation #}
<div class="navigation">

    {{ knp_pagination_render(pagination) }}

</div>