    <header class="bg-light">

        <div class="container">

            <div class="row">

                <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-5 mr-auto">
                    <img class="img-fluid logo" src="{{asset('assets/images/logaso.png')}}" style="padding:25px;">
                </div>

                <div class="col-md-auto">

                    <div class="row">

                        <div class="mr-auto col-8 col-xs-8 col-sm-8 col-md-12 col-lg-12" style="padding: 16px;">

                            <div class="container-social-media">

                                <br>

                                <p style="margin-bottom:12px;">Siguenos en</p>

                                <a href="#" class="facebook">&nbsp;<i class="fa fa-facebook"></i></a>

                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>

                                <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>

                            </div>

                        </div>

                        <div class="col-auto nav-justified navbar navbar-expand-md navbar-light">

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>

                            </button>

                        </div>

                    </div>

                </div>



            </div>
        </div>

        <br>

        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: rgba(92, 70, 43, 0.027);">

            <div class="container">

                <nav class="navbar nav-justified navbar-expand-md navbar-light">
                     
                    <div class="collapse navbar-collapse" id="navbarNav">

                        <ul class="navbar-nav container">

                            <li class="nav-item">
                                <a class="nav-link active" href="">Inicio</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{url('multimedia')}}">Multimedia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{url('agenda')}}">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{url('resultados')}}">Resultados</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{url('escenarios')}}">Escenarios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{url('delegaciones')}}">Delegaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{url('login')}}">Intranet</a>
                            </li>

                        </ul>

                    </div>

                </nav>
            </div>

        </div>
        
    </header>
