<!DOCTYPE html>
<html  >
<head>
    <title></title>
</head>
<body>
 	

 	&nbsp;&nbsp;&nbsp;&nbsp;<table>

 		{% set cont = 1 %}

 		{% for par in participantes %}

	 		<tr style="background-color:gray;border:0.1px solid black;" width="800" height="510">
	 			<td style="background-color:white;padding-top:-15px;border:0.1px solid black;overflow:hidden;" width="375" height="475">
	 				<p style="padding:0;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img height="100" width="230" src="{{asset('assets/images/logaso.jpg')}}">
	 				</p>

	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img height="180" width="210" src="{{asset(par['rutaFotoPerfil'])}}">
	 				</p>

	 				<p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<b style="color:#1e1e1e;font-size:14px;" >{{par['nombreExport']|upper}}&nbsp;{{par['apellidosExport']|upper}}</b>
	 					<br>
	 					<b style="font-size:15px;font-size:18px;padding:0;margin:0;">&nbsp;&nbsp;{{par['tipoParticipante']|upper}}</b>
	 					<br>
	 				</p>

	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					{% set firstWord = par['paisRepresenta']|split('', 2) %}
	 					<b style="font-size:14px;">{{firstWord[0]|upper}}-{{par['paisRepresenta']|upper}} &nbsp;&nbsp;<img height="12" width="22" src="{{asset(par['flag_bandera'])}}"></b>
	 					
	 				</p>

	 				<p style="background-color:rgb(255,153,0);border-left: 0.2px solid black;border-right: 0.2px solid black;height:7px;" width="100%">
	 				</p>

	 				<em style="padding:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img height="35" width="30" src="{{asset('assets/images/espacio_blanco.jpg')}}">
	 					<img height="30" width="30" src="{{asset('assets/images/home.jpg')}}">
	 					<img height="30" width="30" src="{{asset('assets/images/car.jpg')}}">
	 					<img height="30" width="30" src="{{asset('assets/images/restaurant.jpg')}}">
	 				</em>

	 			</td>
	 			<td style="background-color:black;" width="2" height="510" >
	 			</td>
	 			<td style="background-color:rgb(255,153,0);border:0.1px solid black;" width="375" height="510">
	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img  height="300"  width="240" src="{{asset('assets/images/taru_pdf.jpg')}}">
	 				</p>
	 				<p>
	 					<b style="font-size:34px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arequipa 2018</b>
	 				</p>
	 				<p>
	 					<span style="font-size:16px;color:white;font-family:Helvetica">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;JUEGOS</span><br>
	 					<span style="font-size:16px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUDAMERICANOS</span><br>
	 					<span style="font-size:16px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESCOLARES</span>
	 				</p>
	 			</td>
	 		</tr>

 		{% endfor %}


 	</table>

</body>
</html>

