<!DOCTYPE html>
<html  >
<head>
    <title></title>
</head>
<body>
 	

 	&nbsp;&nbsp;&nbsp;&nbsp;<table>

 		{% set cont = 1 %}

 		{% for par in participantes %}

	 		<tr style="background-color:gray;border:0.1px solid black;" width="500" height="270">
	 			<td style="background-color:white;padding-top:-15px;border:0.1px solid black;overflow:hidden;" width="250" height="270">
	 				<p style="padding:0;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; 
	 					<img   height="50"  width="170" src="{{asset('assets/images/logaso.jpg')}}">
	 				</p>

	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img   height="100"  width="100" src="{{asset(par['rutaFotoPerfil'])}}">
	 				</p>

	 				<p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<b style="color:#1e1e1e;font-size:9px;" >{{par['nombreExport']|upper}}&nbsp;{{par['apellidosExport']|upper}}</b>
	 					<br>
	 					<b style="font-size:15px;font-size:12px;padding:0;margin:0;">&nbsp;&nbsp;&nbsp;&nbsp;{{par['tipoParticipante']|upper}}</b>
	 					<br>
	 				</p>

	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					{% set firstWord = par['paisRepresenta']|split('', 2) %}
	 					<b>{{firstWord[0]|upper}}-{{par['paisRepresenta']|upper}} &nbsp;&nbsp;<img height="12" width="22" src="{{asset(par['flag_bandera'])}}"></b>
	 					
	 				</p>

	 				<div style="background-color:rgb(255,153,0);border-left: 0.1px solid black;border-right: 0.1px solid black;height:5px;" width="100%">
	 				</div>

	 				<em style="padding:10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img height="24" width="12" src="{{asset('assets/images/espacio_blanco.jpg')}}">
	 					<img height="20" width="20" src="{{asset('assets/images/home.jpg')}}">
	 					<img height="20" width="20" src="{{asset('assets/images/car.jpg')}}">
	 					<img height="20" width="20" src="{{asset('assets/images/restaurant.jpg')}}">
	 				</em>

	 			</td>
	 			<td style="background-color:black;" width="2" height="180" >
	 			</td>
	 			<td style="background-color:rgb(255,153,0);border:0.1px solid black;" width="250" height="260">
	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<img  height="190"  width="150" src="{{asset('assets/images/taru_pdf.jpg')}}">
	 				</p>
	 				<p>
	 					<b style="font-size:22px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;arequipa 2018</b>
	 				</p>
	 				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 					<span style="font-size:10px;color:white;font-family:Helvetica">JUEGOS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	 					<span style="font-size:10px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUDAMERICANOS</span>
	 					<span style="font-size:10px;color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ESCOLARES</span>
	 				</p>
	 			</td>
	 		</tr>

	 		{% if cont % 2 == 1 %}

	 			<tr><td></td>
 					<td></td>
 				</tr>
 	 			<tr><td></td>
 					<td></td>
 				</tr>
 			{% endif %}

 			{%  if cont % 2 == 0 %}

 				<tr><td></td>
 					<td></td>
 				</tr>
		 		<tr><td></td>
		 			<td></td>
		 		</tr>
		 		<tr><td></td>
		 			<td></td>
		 		</tr>
		  		<tr><td></td>
		 			<td></td>
		 		</tr>

	 		{% endif %}

	 		{% set cont = cont + 1 %}

 		{% endfor %}


 	</table>

</body>
</html>

