{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 

    <section class="section-white portada-container">

        <img src="{{asset('assets/images/taruuu.png')}}" class="img-fluid">

    </section>

    <section class="section-white container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                <div class="card container-social-item">

                    <div class="header-social-item container-header-yellow"><strong>Noticias</strong></div>

                    <div class="container">

                        <br>

                        <p>Sigue el dia a dia de los Juegos Sudamericanos Escolares a traves de nuestro Facebook y
                            Twitter, interactuando con los hashtags</p>
                        <br>
                        <p>#JuegosSudamericanosEscolares</p>
                        <p>#Arequipa2018</p>

                    </div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                <div class="card container-social-item">

                    <div class="header-social-item container-header-yellow"><strong>Facebook</strong></div>

                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FIPDPaginaOficial%2F&amp;tabs=timeline&amp;small_header=true&amp;adapt_container_width=true&amp;hide_cover=true&amp;show_facepile=false&amp;appId"
                        height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowtransparency="true" allow="encrypted-media"></iframe>

                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                <div class="card container-social-item">

                    <div class="header-social-item container-header-yellow"><strong>Twitter</strong></div>

                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/ipdcomunicacion?ref_src=twsrc%5Etfw">Tweets
                        by ipdcomunicacion</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                </div>

            </div>

        </div>


    </section>

    <section class="section-light-gray">

        <h3 class="text-center">Galeria de fotos</h3>

        <br>

        <div id="carousel-gallery" class="carousel slide carousel-multi-item" data-ride="carousel">

            <div class="carousel-inner mdb-lightbox" role="listbox">

                <div class="carousel-item active text-center">

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img1.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img1.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img2.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img2.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img3.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img3.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                </div>

                <div class="carousel-item text-center">

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img1.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img1.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img2.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img2.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img3.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img3.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                </div>


                <div class="carousel-item text-center">

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img3.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img3.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img2.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img2.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                    <figure class="col-md-3 d-md-inline-block">
                        <a href="{{asset('assets/images/img1.png')}}" data-size="1600x1067">
                            <img src="{{asset('assets/images/img1.png')}}" class="img-fluid card">
                        </a>
                    </figure>

                </div>

            </div>

            <a class="carousel-control-prev" href="#carousel-gallery" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carousel-gallery" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>

        </div>

    </section>

    <section class="section-light-gray">

        <h3 class="text-center">Videos</h3>

        <br>

        <div id="carousel-videos" class="carousel slide carousel-multi-item" data-ride="carousel">

            <div class="carousel-inner mdb-lightbox" role="listbox">

                <div class="carousel-item active text-center">

                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="carousel-item text-center">

                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="carousel-item text-center">

                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 d-md-inline-block">

                        <div class="container-escenario-item card">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <a class="carousel-control-prev" href="#carousel-videos" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-videos" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

    </section>

    <!--
    <section class="section-white container">

        <h3 class="text-center">Auspiciadores</h3>

        <div class="row">

            <figure class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="images/aus1.png" class="img-fluid">
            </figure>

            <figure class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="images/aus2.png" class="img-fluid">
            </figure>

            <figure class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="images/aus3.png" class="img-fluid">
            </figure>

            <figure class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="images/aus4.png" class="img-fluid">
            </figure>
            <figure class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="images/aus5.png" class="img-fluid">
            </figure>

            <figure class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <img src="images/aus6.png" class="img-fluid">
            </figure>
        </div>

    </section>

    -->

    <footer class="footer">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-10 col-xs-8 col-sm-6 col-md-5 col-lg-3">

                    <img src="{{asset('assets/images/logoblanco.png')}}" class="img-fluid">

                </div>

            </div>

        </div>

    </footer>

{% endblock %}

