{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %}

    <section class="section-title">

        <div class="container">

                <h1 class="text-center container-header-orange card">Multimedia</h1>

        </div>

    </section>

    <section class="section-white">

        <div class="container">

            <h3>Fotos</h3>

            <br>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p>
                        <img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title""><strong> Melgar</strong></p>
                            <p class="
                                card-text"">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p>
                        <img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container overlay">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">

                    <div class="container-escenario-item card">
                        <p class="top-right">Lun 24</p><img src="{{asset('assets/images/img1.png')}}" alt="Notebook" style="width:100%;">
                        <div class="img-container">
                            <p class="card-title"><strong> Melgar</strong></p>
                            <p class="card-text">sldkm aslk aslk ma alsk aslkd aslk aslk dalsk alsk dlask das</p>
                        </div>
                    </div>

                </div>

            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>

        </div>


    </section>

    <section class="section-light-gray">

        <div class="container">

            <h3>Videos</h3>

            <br>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                    <div class="container-escenario-item card">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CPUPtJqsD1A"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>

                    </div>

                </div>

            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Anterior</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>

        </div>

    </section>

    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 
    
{% endblock %}
