{% extends '::base.html.twig' %}
{% block title %}Sudamericanos Juveniles{% endblock %}
{% block body  %}

    {% include 'SudJuvenilesBundle:Default:menu_landing.html.twig' %}
    {% include 'SudJuvenilesBundle:Default:loader.html.twig' %} 

    <div class="section-title">

        <div class="container">

            <h1 class="text-center container-header-orange card" style="z-index:-1;">Resultados</h1>

        </div>

    </div>


    <section class="section-white">

        <div class="container">

            <div class="accordion" id="accordion">

                <div id="collapseDisciplinas" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

                    <div class="row justify-content-center" style="margin-bottom:50px;">

                        {% for dis in disciplinas if dis.categoria_id == 2 %}

                            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3" id="btnVerDisciplina{{dis.id}}">
                                <div class="btn container-escenario-item container" data-toggle="collapse" data-target="#collapseDisciplina{{dis.id}}" aria-expanded="false" aria-controls="collapseDisciplina{{dis.id}}">
                                    <img src="{{asset(dis.foto_url)}}" class="img-fluid zoom card"  onclick="verFotosDisciplina({{dis.id}})">
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>

           {% for dis in disciplinas if dis.categoria_id == 2 %}

                <div id="collapseDisciplina{{dis.id}}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

                    <div class="modal-content">
                        <div class="row align-items-center">
                            <div class="col-4 col-xs-3 col-sm-2 col-md-2 col-lg-2">
                                <img src="{{asset('assets/images/icon_dis_natacion.png')}}" class="img-fluid" style="padding:8px;">
                            </div>

                            <div class="col-8 col-xs-9 col-sm-10 col-md-10 col-lg-10">
                                        <div class="row justify-content-between">

                                            <div class="col-12 col-xs-12 col-sm-7 col-md-8 col-lg-9">
                                                <h3 class="modal-title" style="margin:8px;">{{dis.nombre}}</h3>
                                            </div>
                                            <div class="col-12 col-xs-12 col-sm-5 col-md-4 col-lg-3">
                                                <button    type="button" class="btn btn-info"
                                                    type="button" data-toggle="collapse" data-target="#collapseDisciplinas"
                                                    aria-expanded="true" aria-controls="collapseDisciplinas" style="margin:8px;"  >Ver
                                                    disciplinas</button>
                                            </div>

                                        </div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="container">

                        {# {% for entry in pagination  if entry.disciplinaId == dis.id %}

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="container-escenario-item card">
                                    <p class="top-right">{{entry['fecha_tomo_foto']}}</p>
                                    <img src="{{asset(entry['foto_url'])}}" alt="Notebook" style="width:100%;">
                                    <div class="img-container">
                                        <p class="card-title"><strong>{{entry['titulo']}}</strong></p>
                                        <p class="card-text">{{entry['descripcion_foto']}}</p>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div> #}

                            <div id="data-container{{dis.id}}"></div>
                            <div id="pagination-container{{dis.id}}"></div> 
                    </div>

                    

                </div>

            {% endfor %} 

        </div>  
    </div>

{# <h1>----------------------------------------------</h1>

                <div id="data-container" class="row"></div>
                <div id="pagination-container"></div> #}


    </section>
    
    {% include 'SudJuvenilesBundle:Default:footer.html.twig' %} 
    
{% endblock %}

{% block javascripts %}

    <script>

       
        var verFotosDisciplina = function(disciplinaId){

         
            var arrayJson = '{{pagination.items|json_encode|raw}}';
            var arrayObject = JSON.parse(arrayJson);

            var newArrayObject = arrayObject.filter(function(elem){
                return elem.disciplinaId == disciplinaId
            });

            console.log(newArrayObject);

            $(`#pagination-container${disciplinaId}`).pagination({
                dataSource: newArrayObject,
                pageSize: 3,
                callback: function(data, pagination) {
                    // template method of yourself
                    var html = simpleTemplating(data);
                    $(`#data-container${disciplinaId}`).html(html);
                }
            });

        };


        function simpleTemplating(data) {

            var html = "<div class='row'>";
            $.each(data, function(index, item){               
                html += "<div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'><div class='container-escenario-item card'><p class='top-right'>"+item.fecha_tomo_foto+
                "</p>"+
                "<img src="+item.foto_url+" alt='Notebook' style='width:100%;'>"
                +"<div class='img-container'>"+
                "<p class='card-title'><strong>"+item.titulo+"</strong></p>"
                +"<p class='card-text'>"+item.descripcion_foto+"</p>"
                +"</div>"+
                "</div></div>";
            });
            html += "</div>";
            return html;
        }

    </script>


{% endblock %}